.specimen-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.specimen-title {
  flex: 1 1 25%;
  margin: 0 1%;
  padding: 0 1%;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.specimen-title .barcode {
  flex-grow: 1;
}

.specimen-title .value {
  font-size: 30px;
}

.specimen-button, .container-button {
  margin-left: auto;
}

.align-row {
  border-top: 2px solid #DDDDDD;
  padding-top: 15px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  margin: auto 0;
}

.action-title {
  font-size: 16px;
  display: inline;
}

.action-title > * {
  margin: 0 5px;
}

.filter {
  border: 1px solid #DDD;
  border-radius: 10px;
  padding: 15px;
}

.form-top {
  border-top: 2px solid #DDDDDD;
  padding-top: 15px;
  margin-top: 0;
}

.panel-heading {
  font-size: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-process {
  border: 2px dashed #DDD;
  border-radius: 50%;
  height: 100px;
  width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.add-process:hover {
  border: none;
  background-color: #0f9d58;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes occupy {
  0% {border: 2px solid #DDDDDD;}
  10% {border: 2px solid #0f9d58; background: #C7E8D8}
  100% {border: 2px solid #093782;}
}

.open {
  opacity: 1;
  max-height: 2000px;
  transition: max-height 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.closed {
  opacity: 0;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.node {
  border: 0.2em solid #D3D3D3;
  cursor: default;
}

.node.new {
  border: 2px solid #093782;
  cursor: pointer;
  animation: occupy 5s ease-in 0s 1 normal;
}

.node.selected {
  border: 2px solid #A6D3F5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.node.occupied {
  border: 2px solid #093782;
  cursor: pointer;
}

.node.available {
  border: 2px solid #A6D3F5;
  cursor: pointer;
}

.node.forbidden {
  background: #DDDDDD;
}

.occupied:hover, .display .available:hover{
  border: 2px solid #093782;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.load:hover {
  border: 2px solid #A6D3F5;
  cursor: pointer;
}

.checkout {
  border: 2px dotted #DDDDDD;
  width: 500px;
  height: 50px;
}

.barcodePath {
  font-size: 12px;
}

.container-staging {
  flex: 1 0 24%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid #DDD;
  border-radius: 10px;
  padding: 15px;
  font-size: 18px;
}

.preparation-list {
 border: 1px solid #DDD;
 border-radius: 10px;
 min-height: 85px;
 padding: 5px;
 margin-bottom: 15px;

 display: flex;
 flex-direction: column;
}

.preparation-list:hover {
  border: 1px solid #A6D3F5;
}

.preparation-item {
  width: 100%;

  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

